:root {
    --white: #ecf0f3;
    --gray: #cdd0d4;
    --darkgrey: #555;
    --blue: #33b4e7;
    --darkerblue: #4dabf5;
    --green: #88ef9e;
    --darkergreen: #87f608;
    --purple: #b39cdb;
    --darkerpurple: #5f29b2;
    --orange: #f5974d;
    --yellow: #ffeb3b;
}

* {
    box-sizing: border-box;
    }
    
    body {
        margin: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        /* display: flex;
        align-items: center;
        justify-content: center; */
        /* color: #555; */
        background-color: #ecf0f3;
    }
    
    nav {
        height: 60px;
        margin-top: 10px;
    }
    
    #registration-form-container {
        display: flex;
        justify-content: space-evenly;
        
    }
    
    #registration-form {
        width: 430px;
        height: 525px;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 40px;
        background-color: #f9f6f6;
        box-shadow: 13px 13px 20px #cdd0d4, -13px -13px 20px #fff;
        font-family: "Lato", sans-serif;
    }
    
    .title {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        letter-spacing: 1px;
        font-weight: bold;
    }
    
   
    
    .fields {
        width: 100%;
        padding: 0 10px 10px 10px;
    }
    
    .fields input {
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        color: #555;
        padding: 20px 10px 20px 5px;
    }
    
    .fields svg {
        height: 25px;
        margin: 0 10px -3px 25px;
    }

    .firstname, .lastname, .username, .password {
        margin-bottom: 30px;
        border-radius: 25px;
        box-shadow: inset 8px 8px 8px #cbced1,
        inset -8px -8px 8px #fff;
    }
    
    #register-button {
        outline: none;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 60px;
        border-radius: 25px;
        font-size: 20px;
        font-weight: 700;
        font-family: "Lato", sans-serif;
        color: #fff;
        text-align: center;
        background-color: #33b4e7;
        box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
        transition: all 0.5s;
        margin-top: 5px;
    }
    
    #register-button:hover {
        background-color: var(--darkerpurple)
    }
    
    #register-button:active {
        background-color: #88ef9e;
    }
  
    #message {
        text-align: center;
        display: none;
        color:red;
        padding: 10px;
    
    }